{% extends "base.html" %}
{% block content %}

    <div id="nameContainer" data-partner="{{ partner }}"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="content-block">
                <div style="float: left;">
                    <h3>DDoS Clearing House Simulation Dashboard</h3>
                </div>
                <div style="float: right;">
                    <h3>
                        {{ partner|upper }}
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Alert banners -->
    <div class="row" style="margin-top: -20px">
        <div class="col-md-2"></div>
        <div class="col-md-8 collapse" id="alert-duration">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Invalid duration:</strong> The duration in seconds should be between 1 and 300.
            </div>
        </div>
        <div class="col-md-8 collapse" id="alert-port">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Invalid port:</strong> The destination post should be between 1 and 65535.
            </div>
        </div>
        <div class="col-md-8 collapse" id="alert-busy">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Busy:</strong> traffic is currently being sent.
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="content-block" id="green">
                <h4 style="width: 100%; text-align: center; margin-bottom: 30px">
                    Start a simulated attack on {{ partner|upper }}
                </h4>
                <form id="start-form">
                    <table>
                        <tr>
                            <td>
                                <label for="attacks">Attack type:</label>
                            </td>
                            <td>
                                <select id="attacks" name="attack" required>
                                    <option value="udp" selected>UDP Flood</option>
                                    <option value="frag">Fragmentation Attack</option>
                                    <option value="syn">Syn Flood</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="duration">Duration in seconds:</label>
                            </td>
                            <td>
                                <input type="number" id="duration" name="duration" min="0" max="300" value="20"
                                       required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="speed">Traffic speed:</label>
                            </td>
                            <td>
                                <select id="speed" name="speed" required>
                                    <option value="u1000000">1</option>
                                    <option value="u100000" selected>10</option>
                                    <option value="u10000">100</option>
                                    <option value="u1000">1,000</option>
                                    {#                        <option value="u10">10,000</option>#}
                                    {#                        <option value="u1">100,000</option>#}
                                    {#                        <option value="u0">fastest</option>#}
                                </select> Packets per second
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="port">Destination port:</label>
                            </td>
                            <td>
                                <input type="number" id="port" name="port" min="1" max="65535" value="80" required>
                            </td>
                        </tr>
                    </table>
                </form>
                <button type="button" class="btn btn-success" id="to-confirm">
                    Next
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-block" id="red" style="text-align: center">
                        <h4 style="width: 100%; text-align: center; margin-bottom: 30px">
                            Stop traffic
                        </h4>
                        <button id="stop-button" class="btn btn-danger">Stop!</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 collapse" id="count-down-alert">
                    <div class="alert alert-success fade show" id="disclaimer" role="alert">
                        <h6>
                           <strong>Sending traffic... </strong> <span id="count-down"></span> more seconds.
                        </h6>
                    </div>
                </div>
                <div class="col-md-12 collapse" id="staffic-stopped-alert">
                    <div class="alert alert-danger fade show" id="disclaimer" role="alert" style="text-align: center">
                        <h6>
                           <strong>Traffic stopped</strong>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm traffic details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>
                                Target:
                            </td>
                            <td>
                                {{ partner|upper }}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Attack type:
                            </td>
                            <td>
                                <span id="modal-attack"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Duration:
                            </td>
                            <td>
                                <span id="modal-duration"></span> seconds
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Traffic speed:
                            </td>
                            <td>
                                <span id="modal-speed"></span> packets per second
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Destination port:
                            </td>
                            <td>
                                <span id="modal-port"></span>
                            </td>
                        </tr>
                    </table>
                    <br>Five identical machines will <i>each</i> send this traffic to the target.
                    <br>You will be prompted for your credentials again on start.
                </div>
                <div class="modal-footer">
                    <button type=button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="start-button" type=button class="btn btn-success" data-bs-dismiss="modal">Start</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Disclaimers -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="alert alert-warning" id="disclaimer" role="alert">
                <h5>WARNING</h5>
                <h6>
                    Disclaimer: this web page is part of a virtual pilot of the DDoS Clearing House. It is meant to
                    initiate simulated DDoS traffic to one of the partners of this pilot: {{ partner|upper }}. The
                    goal of sending test traffic is solely to test the DDoS Clearing House; not to send a <i>real</i>
                    DDoS attack to load test the target. Traffic will originate from five identical sources in
                    parallel. In no event is SIDN (Labs) liable for any claim, damages, or other liability as a result
                    from the actions performed on this webpage.
                </h6>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>


{% endblock %}