{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="content-block">
                <div>
                    <h3>DDoS Clearing House Simulation Dashboard</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="content-block">
                <div style="float: left;">
                    <h3>Visit your dashboard:</h3><br>
                    {% for partner in partners %}
                    <a href="/{{ partner|lower }}"><button class="btn btn-primary">{{ partner|upper }}</button></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}